<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Джуманджи</title>
  <style>
    body {
      background: #c7b39b url(static/fone_grey.png) center no-repeat;
      background-size: cover;
    }
     div {
	 opacity: 0.9;
 	 padding: 5px;
   }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
 <header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mr-4" href="/">Джуманджи</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-10">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'vacancies' %}">Вакансии</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'companies' %}">Компании</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">О проекте</a>
          </li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle font-weight-bold" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{request.user}}
              </button>
              <div class="dropdown-menu dropdown-menu-right mt-3">
                <a href="{% url 'profile' %}" class="dropdown-item py-2">Профиль</a>
                <a href="{% url 'myresume' %}" class="dropdown-item py-2">Резюме</a>
                <a href="{% url 'mycompany' %}" class="dropdown-item py-2">Компания</a>
                <a href="/logout" class="dropdown-item py-2">Выйти</a>
              </div>
            </div>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav col-2 justify-content-end">
          <li class="nav-item active">
            <a href="/login" class="nav-link font-weight-bold">Вход</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
  </header>

{% block container %}

{% endblock %}
</body>
</html>