{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>Все компании</strong></h1>
      <p class="text-center pt-1">{{ companies_all_count }} компаний</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
            {% for company in page_obj %}
            {{ company.full_name|upper }}<br>
            <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2">{{ company.name }}</h2>
                  <p class="mb-2">Локализация: {{ company.location }}</p>
                  <p>{{ company.description }}</p>
                  <p class="text-muted pt-1">Количество сотрудников: {{ company.employee_count }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="#"><img src="{{company.logo.url}}" width="130" height="80" alt=""></a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a class="btn btn-outline-info" href="companies/{{company.id}}">Побробнее</a>
                </div>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
      <div class="pagination">
       <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первый</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущий</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующий</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последний &raquo;</a>
        {% endif %}
       </span>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}