{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <section>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% for company in object_list %}
            <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <h2 class="h2 pb-2">{{ company.name }}</h2>
                  <p class="mb-2">Локализация: {{ company.location }}</p>
                  <p>{{ company.description }}</p>
                  <p class="text-muted pt-1">Количество сотрудников: {{ company.employee_count }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="#"><img src="{{company.logo.url}}" width="130" height="80" alt=""></a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a class="btn btn-outline-info" href="companies/{{company.id}}">Побробнее</a>
                </div>
              </div>
            </div>
          </div>
         {% endfor %}
        </div>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}