{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="{% url 'mycompany' %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="{% url 'mycompany_vacancies' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">{{vacancy.title}}</h2>
              <p class="alert alert-info" role="alert">
                Вакансия обновлена
              </p>

              <form method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancyTitle">Название вакансии</label>
                      <input class="form-control" type="text" value="title" id="vacancyTitle" name="title">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="vacancySpecialty">Специализация</label>
                        <select class="form-control" id="vacancySpecialty" name="specialty">
                          {% for specialty in specialties %}
                          <option>{{specialty.id}}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancySalary_min">Зарплата от </label>
                      <input class="form-control" type="text" value="salary_min" id="vacancySalary_min" name="salary_min">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancySalary_max">Зарплата до</label>
                      <input class="form-control" type="text" value="salary_max" id="vacancySalary_max" name="salary_max">
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancySkills">Требуемые навыки</label>
                  <textarea class="form-control" rows="2" id="vacancySkills" style="color:#000;" name="skills">skills</textarea>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancyDescription">Описание вакансии</label>
                  <textarea class="form-control" rows="4" id="vacancyDescription" style="color:#000;" name="description">description</textarea>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancyPublished_at">Дата публикации </label>
                      <input class="form-control" type="text" id="vacancyPublished_at" name="published_at">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}