{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="{% url 'mycompany' %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="{% url 'mycompany_vacancies' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">{{vacancy.title}}</h2>
              <p class="alert alert-info" role="alert">
                {% if vacancyform.is_valid %} Вакансия обновлена! {% endif %}
              </p>
               {% if vacancyform.errors %}
                  <p style='color: red' class="form-error">{{ vacancyform.errors.as_text }}</p>
               {% endif %}
              <form method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancyTitle">Название вакансии</label>
                      <input class="form-control" type="text" value="{{vacancy.title}}" id="vacancyTitle" name="title">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label for="vacancySpecialty">Специализация</label>
                        <select class="form-control" id="vacancySpecialty" name="specialty">
                          {% for specialty in specialties %}
                            <option value="{{specialty.id}}">{{specialty.title}}</option>
                          {% endfor %}
                        </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancySalaryMin">Зарплата от </label>
                      <input class="form-control" type="text" value="{{vacancy.salary_min}}" id="vacancySalaryMin" name="salary_min">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-2">
                      <label class="mb-2 text-dark" for="vacancySalaryMax">Зарплата до</label>
                      <input class="form-control" type="text" value="{{vacancy.salary_max}}" id="vacancySalaryMax" name="salary_max">
                    </div>
                  </div>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancySkills">Требуемые навыки</label>
                  <textarea class="form-control" rows="2" id="vacancySkills" style="color:#000;" name="skills">{{vacancy.skills}}</textarea>
                </div>
                <div class="form-group pb-2">
                  <label class="mb-2 text-dark" for="vacancyDescription">Описание вакансии</label>
                  <textarea class="form-control" rows="4" id="vacancyDescription" style="color:#000;" name="description">{{vacancy.description}}</textarea>
                </div>

                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
                <br>
                {% if not vacancyform.is_valid %}
                  <p style='color: red' class="form-error">{{ vacancyform.non_field_errors.as_text }}</p>
                {% endif %}
              <!-- END Vacancy info -->
              <!-- Applications -->
              <h2 class="h4 pt-2 pb-3">Отклики - {{vacancy.applications.count}}</h2>
              <!-- Application 1 -->
              {% for application in applications %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">{{application.written_username}}</p>
                  <p class="mb-2"><a href="tel:+79002842324" class="text-dark">{{application.written_phone}}</a></p>
                  <p class="mb-1">{{application.written_cover_letter}}</p>
                </div>
              </div>
              {% endfor %}
              <!-- END Application 1 -->
              <!-- END Applications -->
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}