{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <section>

        <h1 class="h1 text-center mt-5 mb-4">Поиск вакансий</h1>

        <div class="row">
            <div class="col-md-7 col-lg-5 col-xl-4 col-sm-8 mx-auto">

             <form class="form-inline sm-form mr-auto mb-4">
                <input class="form-control mr-sm-2" type="text" placeholder="Например: ios" value="{{request.GET.s}}" aria-label="Search"  name="s">
                <button class="btn btn-primary  my-0" type="submit">Найти вакансии</button>
            </form>

            </div>
        </div>
      <p class="text-center pt-1">
        {% if object_list %}
           <h5 class="h5 text-center mt-5 mb-4"> Найдено {{object_list.count}} вакансий</h5>
        {% else %}
          <h5 class="h5 text-center mt-5 mb-4">Ничего не найдено</h5>
        {% endif %}
      </p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% for vacancy in object_list %}
            <div class="card mb-4">
            <div class="card-body px-4">
              <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                  <a href="vacancies/{{vacancy.id}}"><h2 class="h2 pb-2">{{ vacancy.title }}</h2></a>
                  <p class="mb-2">{{ vacancy.skills }}</p>
                  <p>От {{ vacancy.salary_min }} до {{ vacancy.salary_max }} руб.</p>
                  <p class="text-muted pt-1">{{ vacancy.published_at }}</p>
                </div>
                <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                  <a href="vacancies/{{vacancy.id}}"><img src="{{vacancy.company.logo.url}}" width="130" height="80" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}