{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-2">
        <div class="pl-3 mb-5">
          <p><a href="#">Назад</a></p>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <section class="pl-3">
          <a href="#"><img src="{{vacancy.specialty.picture.url}}" width="130" height="80" alt=""></a>
          <div class="d-flex align-items-baseline align-content-baseline">
            <h1 class="h2 mt-4 font-weight-bold" >{{vacancy.title}}</h1>
            <p class="m-0 pl-3">{{vacancy.salary_min}} – {{vacancy.salary_max}} Р</p>
          </div>
          <p class="mt-2">{{vacancy.description}}</p>
          <p class="text-muted mb-4">{{vacancy.company.name}} ({{vacancy.company.employee_count}} человек), {{vacancy.company.location}} или удаленно</p>
          <div style="line-height: 1.8;">
            <p>{{vacancy.company.description}}. В связи с расширением штата, мы хотим усилить нашу команду {{vacancy.specialty.title}}ом, для работы над улучшением продуктов компании.</p>
            <p><b>Мы предлагаем: </b><br>
              Оформление по ТК РФ<br>
              ДМС со стоматологией<br>
              Достойную зарплату, уровень которой можно обсудить по телефону с рекрутером<br>
              Гибкое начало дня, отдельные дни удаленной работы обсуждаются<br>
              Современный офис<br>
              Демократичную корпоративную культуру<br>
              Работу в команде по Scrum
            </p>
            <p><b>Какая работа тебя ждет: </b><br>
              Написание бизнес-логики по ТЗ от аналитиков<br>
              Вынесение общий логики в базовые сервисы<br>
              Интеграция с внешними системами, рефкторинг.
            </p>
            <p><b>Кого мы ищем: </b><br>
              Опытного разработчика на C# (от 3х лет)<br>
              Хорошие знания: {{vacancy.skills}}<br>
              Навыки проектирования и рефакторинга доменной модели <br>
              git, gitflow, bitBucket, youTrack (или альтернативы)
            </p>
            <p><b>Будет отлично, если ты:</b><br>
              Имеешь опыт работы с ЭДО, электронными подписями<br>
              Kendo UI, SignalR, Vue.js, Azure Service Fabric, Team City, Octopus Deploy<br>
              Опыт в CQRS, Event Sourcing, построение приложений на NServiceBus/MassTransit<br>
              Опыт работы в команде по Scrum
            </p>
          </div>
          <form action="{{vacancy.id}}/send" method="post">
            {% csrf_token %}
            {{applicationform.as_p}}
            <input type="submit" value="Откликнуться">
          </form>
        </section>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}