{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="{% url 'mycompany' %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="{% url 'mycompany_vacancies' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">ВАКАНСИИ</h2>
                {% for my_vacancy in my_vacancies %}
                    <div class="card mb-4">
                        <div class="card-body px-4">
                          <div class="row align-items-center">
                            <div class="col-12 col-md-8 col-lg-9">
                              <a href="vacancies/{{my_vacancy.id}}" class="mb-1">{{my_vacancy.title}}</a>
                              <p>От {{my_vacancy.salary_min}} до {{my_vacancy.salary_max}} руб.
                              <span class="text-muted">{{my_vacancy.applications.count}} отклика</span>
                              </p>
                            </div>
                            <div>
                                <a class="btn btn-outline-info" href="vacancies/{{my_vacancy.id}}">Изменить</a>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor%}
                <div class="form-group">
                  <form action="vacancy/add" >
                      <button class="btn btn-info">Добавить вакансию</button>
                  </form>

                </div>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}